.headerButton {
  background-color: #5D462D;
  border-radius: 40px;
  font-size: 1.5rem;
  color: white;
  padding: 0 1rem;
  font-weight: bold;
}

.selectedButton {
  background-color: white;
  color: #5D462D;
}