$idle-color: #5a4630;
$hover-color: #6f583d;
$active-bg-color: white;
$active-txt-color: #5d462d;
$active-border-color: black;
$border-width: 2px;

.pillButton {
  background-color: $idle-color;
  border-radius: 27px;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem calc(2rem - $border-width);
  font-weight: bold;
  border-style: solid;
  border-color: $idle-color;
  border-width: $border-width;

  &:hover {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}

.pillButtonActive {
  background-color: $active-bg-color;
  color: $active-txt-color;
  border-color: $active-border-color;
  &:hover {
    background-color: $active-bg-color;
    color: $active-txt-color;
    border-color: $active-border-color;
  }
}
